@model List<DocesLila.Entities.Product>
@{
    ViewData["Title"] = "Home Page";
}
<html>

<div class="container my-5">
    <div class="row">
        <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Batch</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>RegistrationDate</th>
                <th>ExpireDate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Title</td>
                    <td>@item.Batch</td>
                    <td>@item.Description</td>
                    <td>@item.Price</td>
                    <td>@item.Quantity</td>
                    <td>@item.RegistrationDate</td>
                    <td>@item.ExpireDate</td>
                </tr>
            }
        </tbody>
        </table>
    </div>
</div>
</html>