@model IEnumerable<DocesLila.Entities.Product>
@{
    ViewData["Title"] = "Home Page";
}
<h1>Products</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="container my-5">
    <div class="row" id="product-container">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <!--<img src="produto${product.id}.jpg" alt="${product.name}" class="card-img-top">-->
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(model => item.Title)</h5>
                        <p class="card-text">@Html.DisplayFor(model => item.Description)</p>
                        <p class="card-text">Preço: @Html.DisplayFor(model => item.Price)</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div>
    Página @ViewData["CurrentPage"] de @ViewData["TotalPages"]
</div>

<div class="btn-group">
    @if ((int)ViewData["CurrentPage"] > 1)
    {
        <a href="/Home/Index?page=1" class="btn btn-default">Primeira</a>
        <a href="/Home/Index?page=@((int)ViewData["CurrentPage"] - 1)" class="btn btn-default">Anterior</a>
    }

    @if ((int)ViewData["CurrentPage"] < (int)ViewData["TotalPages"])
    {
        <a href="/Home/Index?page=@((int)ViewData["CurrentPage"] + 1)" class="btn btn-default">Próxima</a>
        <a href="/Home/Index?page=@(ViewData["TotalPages"])" class="btn btn-default">Última</a>
    }
</div>